
<div class="row">
  <div class="col-xs-4 col-xs-offset-2">
    <h1>Contact Us</h1>
    <form>
      <div class="form-group">
        <label for="fname">Full Name</label>
        <input id="fname" type="text" placeholder="First name, Last name"
               class="form-control">
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="text" placeholder="Email"
               class="form-control">
      </div>
      
      <div class="form-group">
        <label for"selects">Subject</label>
        <select class="form-control"
                id="selects">
          <option>Example 1</option>
          <option>Example 2</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="inquiry">Your Inquiry</label>
        <textarea id="inquiry" class="form-control"
                  rows="4"></textarea>
      </div>
      
    <button type="button"
            class="btn btn-primary">Submit!</buton>
    <form>
  </div>
  
  <div class="col-xs-4">
    <h2>Team Info</h2>
    <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Phone #</th>
      </thead>
      
      <% 8.times do %>
        <tr>
          <td><%= random_name %></td>
          <td><%= random_phone %></td>
        </tr>
      <% end %>
      
    </table>
  </div>
</div>